.statistics {
  margin: 0 auto;
  background-color: #fff;
  width: 500px;
  padding-top: 20px;
  margin-bottom: 50px;

  .title {
    text-align: center;
    margin-bottom: 30px;
  }

  .statList {
    display: flex;
  }
}
