.section-table {
  background-color: #fff;
}

.transaction-history {
  margin: 0 auto;
  width: 700px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border: 1px solid #757575;
  thead {
    background-color: #233dff;
  }

  th {
    padding: 15px 25px;
  }

  tbody {
    text-align: center;

    tr {
      background-color: #dddddd;
      td {
        padding: 15px 25px;
      }

      &:nth-child(even) {
        background-color: #757575;
      }
    }
  }
}
